.events-main-content {
  padding: 1rem;
}

.events-form {
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
}

.events-form-group {
  margin-bottom: 1rem;
}

.events-button,
.azure-storage-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.azure-storage-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #7b00ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.azure-storage-button:hover {
	background-color:#7b00ffaa;
}


.events-cancel-button {
  margin-top: 1rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.events-cancel-button:hover {
  background-color: #c82333;
}


.events-button:hover {
  background-color: #0056b3;
}

.events-events-list {
  list-style: none;
  padding: 0;
}

.events-event-item {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.events-action-buttons {
  margin-top: 1rem;
}

.events-edit-button,
.events-delete-button {
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.events-edit-button {
  background-color: #ffc107;
  color: #fff;
}

.events-edit-button:hover {
  background-color: #e0a800;
}

.events-delete-button {
  background-color: #dc3545;
  color: #fff;
}

.events-delete-button:hover {
  background-color: #c82333;
}
