.sidebar {
  width: min(20%, 200px);
  background-color: #9FE7B7;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}
.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-list-item {
  margin: 1rem 0;
  padding: 1rem;
}

.sidebar-link-container {
  text-decoration: none;
  color: black;
}

.sidebar-link {
  font-size: 1.5rem;
  transition: color 0.25s ease;
}

.sidebar-link:hover {
  color: grey;
}
.router-link-active {
  color: black;
  font-weight: bold;
}